.logo{
  width: 15%;
  display: flex;
  align-items: center;
  cursor: pointer;
  .logo__icons {
    font-size: 24px;
  }
  .logo__title {
    padding-left: 5px;
    font-size: 24px;
    margin: 0;
  }
}