.containner{
    width:90%;
    height:80%;

    margin-top:3rem ;
    margin-bottom:3rem;
    margin-left:3rem;;
}
.top{
display: flex;
width:100%;
margin-bottom: 1rem;
}
.btn{
    float: right;
    margin-left:auto;
}
.content{
    margin-left: 3rem;
}
.text{
margin-top:3rem;
margin-left: 3rem;
margin-bottom: 1rem;;
}
.modaltop{
    margin-top:3rem;
}