:root {
	--dark-mode: black;
	--light-mode: white;
	--light-footer: #ddd;
	--desktop-padding: 0 24px;
	--desktop-width: calc(100% - 48px);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #eee;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
}

.nav {
	display: flex;
	width: var(--desktop-width);
	padding: var(--desktop-padding);
	height: 80px;
	border-bottom: 1px solid #ccc;
	align-items: center;
	justify-content: center;
	background-color: var(--light-mode);
	z-index: 4;
}

.nav.fixed {
	position: absolute;
	position: sticky;
	top: 0;
	border-bottom: 1px solid #ccc;
}

.nav.search {
	height: 180px;
	background-color: var(--light-footer);
	transition: 0.5s all ease-in;
}

.home-menu {
	/* width: var(--desktop-width); */
	max-width: 700px;
	padding: var(--desktop-padding);
	display: flex;
	/* justify-content: center; */
	margin: 0 auto;
	align-items: center;
	/* height: 100px; */
	/* position: sticky; */
	background-color: var(--light-mode);
	padding: var(--desktop-padding);
	z-index: 3;
	flex-wrap: wrap;
	border-bottom: 1px solid #ccc;
}

.home-menu.fixed {
	position: absolute;
	position: sticky;
	top: 81px;
}

.detail {
	width: var(--desktop-width);
	max-width: 1024px;
	padding: var(--desktop-padding);
	margin: auto;
}

.detail__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main {
	width: var(--desktop-width);
	max-width: 700px;
	padding: var(--desktop-padding);
	background-color: var(--light-mode);
	margin: 0 auto;
}

.background-gray {
	background-color: #eee;
}

.detail__content {
	max-width: 700px;
	margin: auto;
	/* background-color: #888; */
	/* background-color: white; */
}
.detail__content > div + div {
	margin: 5px 0;
	/* background-color: #eee; */
}
.mypage {
	margin: 20px 0;
}
.bookmark__area {
	/* width: 100%; */
	display: flex;
	overflow-x: scroll;
}
.bookmark__area > div {
	width: 200px;
	aspect-ratio: 1 / 1;
	border-radius: 8px;
	border: 1px solid #ccc;
	flex-shrink: 0;
}
.footer {
	width: var(--desktop-width);
	height: 35px;
	padding: 20px 24px;
	border-top: 1px solid #ccc;
	background-color: var(--light-mode);
	z-index: 3;
	position: absolute;
	bottom: 0;
}

.footer.fixed {
	/* position: absolute;
	position: sticky;
	bottom: 0; */
}

/* .footer__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__left {
	font-size: 14px;
	display: flex;
	align-items: center;
}
.footer__left li {
	cursor: pointer;
	color: #777;
}

.footer__left li + li::before {
	content: "·";
	margin: 0 10px;
}

.footer__right {
	display: flex;
	font-weight: 500;
}

.footer__right li {
	margin: 0 5px;
}

.footer__infos {
	color: #888;
	font-weight: 400;
	font-size: 10px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
} */
