.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  .left {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    width: 5%;
    margin: 10px 0;
  }
  .right {
    padding: 0 10px;
    & h4 {
      margin: 0;
    }
  }
}
