.search {
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 70%;
  height: 35px;
  padding: 0 8px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  line-height: 35px;
  cursor: pointer;
  .btn__area {
    padding: 0;
    margin: 8px 8px 8px 0;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
  }
}